/********** Media Query **********/
@media screen and (min-width: 1200px) {
    .foot-email {
        padding-right: 30px !important;
    }
}

@media screen and (min-width: 1400px) {
    .foot-email {
        padding-right: 90px !important;
    }
}

@media screen and (max-width: 1199px) {
    .foot-email {
        padding-right: 30px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .foot-position button {
        right: 40px !important;
    }
}

@media screen and (max-width: 991px) {
    .mq-hamburger {
        display: none;
    }

    .mq-bootstrap-btn {
        border: none !important;
        box-shadow: none !important;
        background-color: #fff !important;
    }

    .menu-list {
        margin-left: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .section1-text h1 {
        font-size: 28px;
    }

    .button-one {
        font-size: 14px;
    }

    .button-two {
        font-size: 14px;
    }

    .our-team {
        font-size: 28px;
    }

    .tab-menus a {
        margin-right: 0px;
        padding: 5px;
    }
    
    .tab-menus {
        justify-content: space-between;
        padding: 10px 5px !important;
    }

    .recent-works-tab a {
        padding: 15px 15px !important;
    }

    .manager-cards:hover .name-position ul {
        width: 80% ;
    }

    .pricing-cards h1 span {
        font-size: 28px;
    }

    .pricing-cards button {
        padding: 10px 10px;
    }

    .pricing-cards ul {
        padding-left: 0px;
    }

    .name-position {
        padding: 0px 15px !important;
    }
    
    .manager-cards:hover .name-position {
        padding-top: 20px !important;
    }

    .testimonial-people .fa-quote-right {
        font-size: 21px;
    }

    #signature-name {
        right: 5px;
        bottom: 5px;
        padding: 3px 5px !important;
    }

    .section8-background h1 {
        font-size: 28px;
    }

    .news-card h4 {
        font-size: 20px;
    }

    .logo-image {
        padding: 25px 25px !important;
    }

    .contact {
        padding: 15px 15px !important;
    }

    .business-form {
        padding: 15px 15px !important;
    }
    
    .services-section h4 {
        font-size: 18px;
    }

    .foot-position button {
        right: 80px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .section1-background {
        padding: 25px 0px;
    }

    .section2 {
        padding: 25px 0px;
    }

    .section3-background {
        padding: 25px 0px;
    }

    .section4-background {
        padding: 25px 0px;
    }

    .section5-background {
        padding: 25px 0px;
    }

    .section6-background {
        padding: 25px 0px;
    }

    .section7-background {
        padding: 25px 0px;
    }

    .section8-background {
        padding: 25px 0px;
    }

    .section9-background {
        padding: 25px 0px;
    }

    .section10-background {
        padding: 25px 0px;
    }

    .section11-background {
        padding: 25px 0px;
    }

    .section12-background {
        padding: 25px 0px;
    }
    
    .section14-background {
        padding: 25px 0px;
    }

    h1 {
        font-size: 18px !important;
    }

    h4 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
    }

    a {
        font-size: 14px !important;
    }

    button {
        font-size: 14px !important;
    }

    .buttons {
        width: 75% !important;
    }

    .button-two i {
        margin-top: 45px;
    }

    .our-story {
        margin-top: 10px;
    }

    .tab-menus {
        justify-content: center;
    }

    .tab-menus a {
        margin-right: 0px !important;
    }

    .tab-menus li {
        width: 100%;
        text-align: center;
        margin: 5px 5px;
    }

    .pricing-cards {
        margin: 10px auto !important;
    }

    .pricing-cards .card-body {
        padding: 15px 10px !important;
    }

    .name-position {
        padding: 10px 10px !important;
    }

    .manager-cards {
        margin: 5px auto !important;
    }
    
    .manager-cards:hover .name-position {
        padding-top: 20px !important;
    }

    .manager-cards:hover .name-position ul {
        width: 60%;
    }

    .testimonial-people {
        margin: 5px auto !important;
    }

    .section9-background .carousel-indicators {
        bottom: -35px !important;
    }

    .logo-image {
        margin: 10px 5px;
    }

    .foot-email {
        width: 100%;
    }

    .foot-position button {
        right: 10px;
    }

    .mq-phone-sm {
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 575px) {
    .business-form {
        margin: 15px auto;
    }
}
/********** Media Query **********/
